extends layout

block content
    h2= title

    // Wrapper
    #wrapper

        // FOOD TRUCK SEARCH PARAMS BASED ON CURRENT LOCATION
        #foodTruckParameters
            h3 What would you like to eat?
            input(type="text", name="foodTruckSearchParams", id="foodTruckSearchParams")
        // /FOOD TRUCK SEARCH PARAMS

        
        // SEARCH FOOD TRUCKS NEAR ME
        #doSearchNearMe
            fieldset
                button#btnFoodSearchNearMe Search
                br
                br
        // /SEARCH FOOD TRUCKS NEAR ME
        
        // FOOD TRUCK SEARCH PARAMS BASED ON ADDRESS
        #foodTruckParametersAddr
            h3 Where in San Francisco?
            input(type="text", name="foodTruckSearchParamsAddr", id="foodTruckSearchParamsAddr")
        // /FOOD TRUCK SEARCH PARAMS BASED ON ADDRESS

        
        // SEARCH FOOD TRUCKS NEAR ADDRESS
        #doSearchNearAddr
            fieldset
                button#btnFoodSearchNearAddr Search
                br
                br
        // /SEARCH FOOD TRUCKS NEAR ADDRESS
           

        #mapholder
        
        // FOOD TRUCK RESULTS
        h3 Results
        #foodTruckResults
            table
                thead
                    th Cuisine
                    th Location
                    th Name
                    th Miles from me
                tbody
        // /FOOD TRUCK RESULTS
        
        
        
        #footer
        

    // /WRAPPER