extends layout

block content
    h1= title
    

    // Wrapper
    #wrapper

        // CAR SEARCH PARAMS
        #carSearchParameters
            h2 Car Search Parameters
            p
                strong Destination:
                |  <span id=‘carDestination’>Houston, TX</span>
                br
                strong Pick up:
                |  <span id=‘carPickUp’>3/1/2015</span>
                br
                strong Drop off:
                |  <span id=‘carDropOff>3/2/2015</span>
                br
        // /CAR SEARCH PARAMS

        // SEARCH CAR
        #doSearch
            fieldset
                br
                button#btnCarSearch Search for cars
        // /SEARCH CAR
        br
        br

        // TURN ON/OFF SERVICES
        h2 Configure Services
        #serviceConfig
            p.confirm
                input(type="checkbox", id="winnerselection", checked="checked")
                1 Enable winner selection
                br
                
        // /TURN ON/OFF SERVICES


        // PERFORMANCE
        h2 Performance
        #carResultsTime
           


        // CAR RESULTS
        h2 Car Results
        #carResults
            table
                thead
                    th Car Type
                    th Opaque
                    th Price
                    th DepositType
                    th Vendor
                    th MarkUpAllowed
                    th Markup %
                tbody
        // /CAR RESULTS

        // GUIDING PRINCIPLES
        h2 Guiding Principles
        #guidingPrinciples
            p.confirm
                input(type="checkbox", id="decouple", checked="checked")
                1 Separation of concerns
                br
                input(type="checkbox", name="growth", checked="checked")
                2 Capacity scaling for 5 year growth
                br
                input(type="checkbox", name="deploy", checked="checked")
                3 Rapid and continuous deployment
                br
                input(type="checkbox", name="speed", checked="checked")
                4 High availability and super low latency
                br
                input(type="checkbox", name="debug", checked="checked")
                5 Behavior monitoring 
                br
        // /GUIDING PRINCIPLES
        

    // /WRAPPER