extends layout

block content
    h1= title
    

    // Wrapper
    #wrapper

        // HEADER
        #testheader
            h2 Node application index page
        // /HEADER

        

    // /WRAPPER